<div class="container">
  <div class="input_fild">
    <mat-form-field fxFlex>
      <input matInput placeholder="Input" #name>
    </mat-form-field>
    <button mat-icon-button (click)="data.add(name.value); name.value='';">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

  <mat-list role="list"  fxLayout="column">
    <mat-list-item role="listitem" *ngFor="let toDo of data.toDos; last as isLast; index as i">
      <ng-container *ngIf="!data.indexOfEditableItem">
        <mat-checkbox (change)="data.isCheck(i, $event.checked);" [checked]="toDo.isDone">
          <span [ngClass]="(toDo.isDone)?'strike':''">{{toDo.name}}</span>
        </mat-checkbox>
        <span fxFlex></span>
        <button mat-icon-button *ngIf="!toDo.isDone">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="data.remove(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="data.indexOfEditableItem">
        <button mat-icon-button *ngIf="!toDo.isDone">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button (click)="data.remove(i)">
          <mat-icon>save</mat-icon>
        </button>
      </ng-container>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="!data.toDos.length">
      <p>No items. Please, add some.</p>
    </mat-list-item>
  </mat-list>
<p>Dima byaka!!!!</p>
</div>
